DATABASE_URL="connection_string"

AWS_REGION=server
AWS_ACCESS_KEY_ID=your_access_key
AWS_SECRET_ACCESS_KEY=your_secret_access_key
AWS_S3_BUCKET_NAME=your_bucket_name
 
JWT_SECRET=your_jwt_secret
